<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cocoapods-learn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEAF45211DF6875E00C33598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAF45351DF6875E00C33598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAF45401DF6875E00C33598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
